@model ControlePressao.Models.Pressao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pressao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sistolica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sistolica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diastolica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diastolica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrequenciaCardiaca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrequenciaCardiaca)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
